<hr />
<h1>This is component 1</h1>

<!-- Ng switch directives -->
<div [ngSwitch]="superpower">
  <div *ngSwitchCase="'superman'">
    <h2>Superman</h2>
  </div>
  <div *ngSwitchCase="'batman'">
    <h2>Batman</h2>
  </div>

  <div *ngSwitchCase="'spiderman'">
    <h2>Spiderman</h2>
  </div>

  <div *ngSwitchDefault>
    <h2>Human</h2>
  </div>
</div>

<!-- Ng style directives method 1-->
<div
  [ngStyle]="{
    color: r,
    backgroundColor: g,
  }"
>
  This is ng style directives
</div>

<!-- Ng style directives method 2-->
<div [ngStyle]="{ color: r === 'red' ? r : g }">This is the third block</div>


<!-- ngClass directives Method 1 -->
<div [ngClass]="class">Ng class method 1</div>

<!-- ngClass directives Method 2 -->
<div
[ngClass]="istrue ? 'c1 c3' : 'c2 c4'"
>
  {{ sentence }}
</div>

<!-- ngClass directives Method 3 -->
<div [ngClass]="{
  c1: true,
  c2: false,
  c3: true,
}">
This is a boolean value
</div>

<!-- Property binding -->
<div [innerHTML]="sentence"></div>

<h1 [title]="h">This is COP 1 heading</h1>
<h2 [style.color]="g">{{ h }}</h2>

<!-- Attribute binding (Add a attr. behind if normal properties does not work)-->
<table style="background-color: grey">
  <tr>
    <td>Value 1</td>
    <td>Value 2</td>
    <td>Value 3</td>
  </tr>
  <tr>
    <td [attr.colspan]="valSpan">Value 4</td>
    <td>Value 6</td>
  </tr>
</table>
<br>
<!-- Event binding -->
  <button (click)="clickMe()">Click On it</button>
  <br>
  <br>
  <div (mouseover)="sum('ss','44',5)">Move the mouse over</div>
  <br>
  <div (mouseenter)="check($event)">Mouse enter</div>

<!-- Two way binding (ngModel requires FormsModule to be imported)-->
<input type="text" [(ngModel)]="superpower">
<h1>{{ superpower }}</h1>
<h2 [innerHTML]="superpower"></h2>

<!-- Angular material -->
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</div>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<h3>Single selection</h3>
<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
  <mat-button-toggle value="red">Red</mat-button-toggle>
  <mat-button-toggle value="green">Green</mat-button-toggle>
  <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>

<h3>Multiple selection</h3>
<mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
  <mat-button-toggle value="flour">Flour</mat-button-toggle>
  <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
  <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
</mat-button-toggle-group>

<!-- Card -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- Datepicker -->
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<hr />
